<%= form_for @bag_item, url: bag_bag_items_path(@bag.id), remote: true do |bag_item_form| %>

  <%= bag_item_form.hidden_field :item_id %>
  <div class="form-group">
    <%= bag_item_form.label :quantity %>
    <%= bag_item_form.number_field :quantity, min: 1, max: 50, class: "form-control" %>
  </div>

  <% count = 0 %>
  <% @item.category.category_sections.each do |category_section| %>
    <h3><%= "#{category_section.instruction}: #{category_section.comment}" %></h3>
    <%= bag_item_form.fields_for :bag_item_choices, @bag_item_choices[count] do |bag_item_choice_field| %>

    <div class="form-group">
      <%= bag_item_choice_field.collection_select :category_option_id, category_section.category_options, :id, :option, { prompt: category_section.required ? false : "Optional" }, { class: "form-control" } %>
    </div>

    <% end %>
    <% count += 1 %>
  <% end %>

  <div class="form-group">
    <%= bag_item_form.label :instruction %>
    <%= bag_item_form.text_area :instruction, class: "form-control" %>
  </div>

  <div class="modal-footer">
    <%= bag_item_form.submit class: "btn btn-primary" %>
  </div>
<% end %>
