$('#modalFormBody').html("<%= escape_javascript(render 'form', remote: true) %>");
$('#modalForm').modal('show');
$('#modalFormTitle').html("<%=
raw("<span style='color: #C65252;'>Add item to your bag: #{@item.name} - #{@item.price}</span>") %>");
