<h1>New Menu</h1>

<%= form_for(@menu, url: location_menus_path(@location.id), method: :post) do |f| %>
  <%= render 'form', menu: @menu, f: f %>
<% end %>

<%= link_to 'Back', location_path(@location.id) %>
