<% if @menus.nil? || @menus.size == 0 %>
  <div class="col-sm-6 col-md6 unavailable">
      <p class="lead">Take-out orders are not available in this location at the moment. Please check back later.</p>
  </div>
  <!-- /.col-sm-6 -->
<% else %>
  <% # Inner if statement begins %>
  <% if @menus.size > 1 %>
    <div class="col-sm-4 col-md-4">
      <h1>Choose a Menu</h1>
      <%= collection_select :menu, :id, @menus, :id, :label, { }, { class: "form-control" }  %>
    </div>
    <!-- /.col-sm-4 -->
  <% end %>
  <% @menu.sections.each do |section| %>
    <div class="col-sm-12 col-md-12">
      <h2><%= section.name %></h2>
      <p><%= section.description %></p>
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="list-group">
            <% section_items = section.section_items
               count = section_items.size;
               mid_count = section_items.size / 2
            %>
            <% section_items.each do |section_item| %>
              <% item = section_item.item %>
              <% if count == mid_count %>
                </div>
                <!-- /.list-group -->
                </div>
                <!-- /.col-sm-5 col-md-5 -->
                <div class="col-sm-6 col-md-6">
                <div class="list-group">
              <% end %>
              <%= link_to url_options = {controller: "bag_items", action: "new", menu_id: @menu.id, item_id: item.id, remote: true}, html_options = {class: "list-group-item"} do %>
                <h4 class="list-group-item-heading"><%= item.name %><span class="menu-price"><%= item.price %></span></h4>
                <% if item.category.description %>
                  <p class="list-group-item-text menu-description"><%== item.description %></p>
                <% end %>
              <% end %>
            <%
              count -= 1
              end
            %>
          </div>
          <!-- /.list-group -->
        </div>
        <!-- /.col-sm-5 col-md-5 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.col-sm-10 col-md-10 -->
  <% end %>
<% end %>
