$('#modalFormBody').html("<%= escape_javascript(render 'form', url: section_path(@section.id), remote: true) %>");
$('#modalForm').modal('show');
$('#modalFormTitle').html("Edit this Section of the Menu");
