$('#sections<%= @section.menu_id %>').html("<%= escape_javascript(render 'index', sections: @sections) %>");
$('#modalForm').modal('hide');
$('body').removeClass('modal-open');
$('.modal-backdrop').remove();
initTooltip();
