$('#modalFormBody').html("<%= escape_javascript(render 'form', url: menu_sections_path(@menu.id), remote: true) %>");
$('#modalForm').modal('show');
$('#modalFormTitle').html("Create a New Section to the Menu");
