<% bag_items = @bag.bag_items %>
<% quantity = 0 %>
<% if bag_items.size > 0 %>
  <div class="item_row">
    <% if  !user_signed_in? %>
      <p class="lead unavailable bag_item">You need to sign in to be able to place the order.</p>
    <% end %>
    <h3 class="checkout">
      <%= link_to "Checkout", new_location_order_url(@bag.menu.location_id), class: "btn btn-primary"  %>
    </h3>
  </div>
<% end %>
<% bag_items.each do |bag_item| %>
  <% item = bag_item.item %>
  <div class="item_row">
    <div class="bag_item">
      <h4>
        <% quantity += bag_item.quantity %>
        <%= "#{bag_item.quantity} - #{item.name}" %>
        <span class="pull-right">
          <%= link_to bag_item, method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
            <i class="fa fa-fw fa-times" data-toggle="tooltip" data-placement="top" title="Remove Item"></i>
          <% end %>
          <%= number_to_currency(item.price, precision: 2) %>
        </span>
      </h4>
      <ul class="list-unstyled col-sm-offset-1 col-md-offset-1">
        <% bag_item.bag_item_choices.each do |bag_item_choice| %>
          <% if bag_item_choice.category_option %>
            <% category_option = bag_item_choice.category_option %>
            <li>
              <%= category_option.name %>
              <span class="pull-right">
                <%= number_to_currency(category_option.price, precision: 2) if category_option.price > 0 %>
              </span>
            </li>
          <% end %>
        <% end %>
        <% if bag_item.instruction %>
          <li><%= bag_item.instruction %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<% if bag_items.size > 0 %>
  <div class="bag_subtotal">
    <h3>
      <%= quantity %> - Subtotal
      <span class="pull-right">
        <%= number_to_currency(@bag.subtotal, precision: 2) %>
      </span>
    </h3>
  </div>
<% end %>
