<div id="refreshOrders" style="display:none"></div>
<p id="notice"><%= notice %></p>
<div class="page-header">
    <h1>
      Orders
    </h1>
</div>

<!-- We include the modal form which will be loaded through boostrap javascript
     when clicking on the add or update icon  -->
<%= render 'application/modal_form' %>

<div class="row">
  <div class="col-md-9 col-sm-9">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Total</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
              <% @orders.each do |order| %>
                <tr>
                    <td><%= "#{order.user.first_name} #{order.user.last_name}" %></td>
                    <td><%= number_to_currency(order.subtotal + order.tax, precision: 2) if !(order.subtotal.nil? || order.tax.nil?) %></td>
                    <td><%= order.location.location %></td>
                    <td><%= order.status_id != 0 ? (order.getStatus) : (button_to "Confirm", confirm_order_url(order.id), method: :patch, class: "btn btn-primary") %></td>
                    <td><%= order.created_at.strftime("%I:%M:%S %p %m/%d/%y") %></td>
                </tr>
              <% end %>
            </tbody>
        </table>
    </div>
  </div>
</div>
<!-- /.row -->
