<% url = @user.id ? { action: 'update', id: @user.id } : { action: 'create'} %>
<%= form_for(@user, url: url, method: method, remote: remote) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Phone Number" %><br />
    <%= f.telephone_field :phone, autofocus: true, class: "form-control" %> 10 digits (Ex: 4156065661)
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, value: nil, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, value: nil, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :role %>
    <%= f.select :role_id, options_for_select(current_user.getRoles, @user.role_id), {}, {class: "form-control"} %>
  </div>

  <div class="modal-footer">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
