<p id="notice"><%= notice %></p>
<div class="page-header">
    <h1>
      Users
      <!-- We use remote to use Ajax  -->
      <%= link_to controller: "user", action: "new", remote: true do %>
        <i class="fa fa-fw fa-plus-square" data-toggle="tooltip" data-placement="top" title="Create a user"></i>
      <% end %>
    </h1>
</div>

<!-- We include the modal form which will be loaded through boostrap javascript
     when clicking on the add or update icon  -->
<%= render 'application/modal_form' %>

<div class="row">
  <div class="col-md-9">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Role</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                    <td><%= "#{user.first_name} #{user.last_name}" %></td>
                    <td><%= user.email %></td>
                    <td><%= user.phone %></td>
                    <td><%= User::ROLES[user.role_id] %></td>
                    <td class="text-center">
                      <%= link_to :controller => "user", :action => "edit", id: user.id, remote: true do %>
                        <i class="fa fa-fw fa-pencil-square-o" data-toggle="tooltip" data-placement="top" title="Update this user"></i>
                      <% end %>
                      <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
                        <i class="fa fa-fw fa-trash-o" data-toggle="tooltip" data-placement="top" title="Delete this user"></i>
                      <% end %>
                    </td>
                </tr>
              <% end %>
            </tbody>
        </table>
    </div>
  </div>
</div>
<!-- /.row -->
