<div class="row">
    <div class="col-md-12">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <% count = 0 %>
          <% selected = @category_section.nil? ? -1 : @category_section.id %>
          <% category_sections.each do |category_section| %>
            <li <%= "class=active" if selected == category_section.id || (selected == -1 && count == 0) %>><a href="#category_section<%= category_section.id %>" data-toggle="tab"><%= category_section.instruction %></a>
            </li>
            <% count += 1 %>
          <% end %>
        </ul>
        <!-- /.nav-tabs -->

        <!-- Tab panes -->
        <div class="tab-content">
          <% count = 0 %>
          <% category_sections.each do |category_section| %>
            <div class="tab-pane fade <%= selected == category_section.id || (selected == -1 && count == 0) ? 'in active' : '' %>" id="category_section<%= category_section.id %>">
              <div class="panel panel-default">
                <div class="panel-heading">
                    <%= "#{category_section.instruction} (#{category_section.required ? "Required" : "Optional"})" %>
                    <%= link_to edit_category_section_path(category_section), remote: true do %>
                      <i class="fa fa-fw fa-pencil-square-o" data-toggle="tooltip" data-placement="top" title="Edit this Category Option"></i>
                    <% end %>
                    <%= link_to category_section, method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
                      <i class="fa fa-fw fa-trash-o" data-toggle="tooltip" data-placement="top" title="Delete this Category Option"></i>
                    <% end %>
                    <%= link_to new_category_section_category_option_path(category_section.id), remote: true do %>
                      <i class="fa fa-fw fa-plus-square" data-toggle="tooltip" data-placement="top" title="Add Category Option Choice"></i>
                    <% end %>
                </div>
                <!-- .panel-heading -->

                <div class="panel-body">
                    <div class="panel-group">
                      <p><%= category_section.comment if category_section.comment %></p>
                      <h4>
                        Selected control type:
                        <%==
                          case(category_section.control_type)
                          when 1
                              "<select>
                                <option value=''>Select Option</option>
                               </select>"
                            when 2
                              "Checkbox <input type='checkbox'>"
                            when 3
                              "Radio Button <input type='radio'>"
                          end
                        %>
                      </h4>
                      <div>
                        <% category_options = category_section.category_options %>
                        <% if category_options %>
                          <dl id="categorySection<%= category_section.id %>" class="dl-horizontal">
                            <%= render 'category_options/index', category_options: category_options %>
                          </dl>
                          <!-- .dl-horizontal -->
                        <% end %>
                      </div>
                      <!-- #categorySection -->
                    </div>
                    <!-- .panel-group -->
                </div>
                <!-- .panel-body -->

              </div>
              <!-- /.panel-default -->
            </div>
            <!-- /.tab-pane -->
            <% count += 1 %>
          <% end %>
        </div>
        <!-- /.tab-content -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
