$('#modalFormBody').html("<%= escape_javascript(render 'form', url: category_section_path(@category_section.id), remote: true) %>");
$('#modalForm').modal('show');
$('#modalFormTitle').html("Edit this Category Option");
