$('#categorySections').html("<%= escape_javascript(render 'index', category_sections: @category_sections) %>");
$('#modalForm').modal('hide');
$('body').removeClass('modal-open');
$('.modal-backdrop').remove();
initTooltip();
