$('#modalFormBody').html("<%= escape_javascript(render 'form', url: category_category_sections_path(@category_section.category_id),remote: true) %>");
$('#modalForm').modal('show');
$('#modalFormTitle').html("Create an Category Option");
