@import "bootstrap-sprockets";
@import "bootstrap";
@import "https://fonts.googleapis.com/css?family=Julius+Sans+One:400";

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 73px tall */
body {
  padding-top: 73px;
  font-family: Helvetica, Verdana, Arial, sans-serif;
}


/*
 * Global add-ons
 */

 h1 {
   font-family: "Julius Sans One", sans-serif;
 }

 h2 {
   font-family: "Julius Sans One", sans-serif;
 }

 .header {
   font-family: "Julius Sans One", sans-serif;
 }

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-family: "Julius Sans One", sans-serif;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
  font-family: "Julius Sans One", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  height: 73px;
}

.navbar-header>a.navbar-brand.navbar-brand {
  font-size: 24px;
  line-height: 1.42857143;
  margin-top: 5px;
  margin-left: 20px;
}

@media (min-width: 900px) {
  .navbar-header>a.navbar-brand.navbar-brand {
    margin-left: 90px;
  }
}

.navbar-header>a.navbar-brand:hover {
  color: #f00;
}

.navbar-nav {
  font-size: 16px;
  line-height: 1.4;
  text-transform: none;
  margin-right: 90px;
}

#navbar {
  margin-top: 10px;

  .navbar-nav>li>a:hover {
    color: #f00;
  }
}

.dropdown-menu>li>a {
  color: gray;
}

.search-icon {
  font-size: 20px;
}

.search {
  position: absolute;
  z-index: 2000;
  background-color: black;
  right: 100px;
  border-top: 1px solid #8E1717;
  display: none;
}

.search-box {
  margin: 30px;
  width: 350px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: block;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #fff;
    border-left: 2px solid #eee;
  }
}


/*
 * Main content
 */

.main {
  min-height: 800px;
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * Footer
 */
 .footer {
   background-color: #fff;
   position: relative;
   padding-top: 25px;
   padding-bottom: 25px;
   z-index: 2000;
   border-top: 2px solid #eee;
 }

 /*
  * Menu
  */
  .menu {
    background-color: #f5f5f5;
  }

  .address {
    margin-top: 20px;
  }

  .unavailable {
    color: #983030;
  }

  .menu-price {
    float: right;
    margin-right: 3px;
  }

  .menu-description {
    height: 60px;
  }

  /*
   * Bag
   */

  .item_row {
    border-bottom: 2px solid black;
  }

  .bag_item {
    margin-left: 10px;
    margin-right: 15px;
  }

  .bag_subtotal {
    margin: 0 0 80px 0;
    padding: 8px 15px 15px 10px;
    background-color: #f5f5f5;
  }

  .checkout {
    padding: 8px 15px 35px 10px;
    width: 28%;
    margin: 0 auto;
  }

  // .bag_subtotal h3 {
  //   padding-left: 10px;
  //   padding-right: 15px;
  // }

/*
 * Social Media
 */
 ul.list-social li a {
   display: block;
   height: 30px;
   width: 30px;
   line-height: 30px;
   font-size: 15px;
   border-radius: 100%;
   color: white;
 }

ul.list-social li.social-facebook a {
  background-color: #3b5998;
  padding-left: 10px;
}
ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}
ul.list-social li.social-email a {
  background-color: #dd4b39;
  padding-left: 8px;
}
ul.list-social li.social-email a:hover {
  background-color: #d73925;
}
ul.list-social li.social-instagram a {
  background-color: #4682B4;
  padding-left: 9px;
}
ul.list-social li.social-instagram a:hover {
  background-color: #125688;
}
