<p id="notice"><%= notice %></p>
<div class="page-header">
    <h1>
      Categories
      <!-- We use remote to use Ajax  -->
      <%= link_to new_category_path, remote: true do %>
        <i class="fa fa-fw fa-plus-square" data-toggle="tooltip" data-placement="top" title="Create Category"></i>
      <% end %>
    </h1>
</div>

<!-- We include the modal form which will be loaded through boostrap javascript
     when clicking on the add or update icon  -->
<%= render 'application/modal_form' %>

<div class="row">
  <div class="col-md-6">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
              <% @categories.each do |category| %>
                <tr>
                    <td>
                      <%= link_to category_path(category.id)  do %>
                        <span title="See details"><%= category.category %></span>
                      <% end %>
                    </td>
                    <td class="text-center">
                      <%= link_to edit_category_path(category.id), remote: true do %>
                        <i class="fa fa-fw fa-pencil-square-o" data-toggle="tooltip" data-placement="top" title="Edit Category"></i>
                      <% end %>
                      <%= link_to category, method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
                        <i class="fa fa-fw fa-trash-o" data-toggle="tooltip" data-placement="top" title="Delete Category"></i>
                      <% end %>
                    </td>
                </tr>
              <% end %>
            </tbody>
        </table>
    </div>
  </div>
</div>
<!-- /.row -->
