<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-4">
      <h2>
        <%= @category.category %>
        <!-- We use remote to use Ajax  -->
        <%= link_to new_category_category_section_path(@category.id), remote: true do %>
          <i class="fa fa-fw fa-plus-square" data-toggle="tooltip" data-placement="top" title="Create Category Option"></i>
        <% end %>
      </h2>
  </div>
  <!-- /.col-md-4 -->
</div>
<!-- /.row -->

<!-- We include the modal form which will be loaded through boostrap javascript
     when clicking on the add or update icon  -->
<%= render 'application/modal_form' %>

<div class="row">
  <div id="categorySections" class="col-md-8">
    <%= render 'category_sections/index', category_sections: @category.category_sections %>
  </div>
  <!-- /.col-md-8 -->
</div>
<!-- /.row -->
