$('#modalFormBody').html("<%= escape_javascript(render 'form', url: category_option_path(@category_option.id), remote: true) %>");
$('#modalForm').modal('show');
$('#modalFormTitle').html("Edit Category Option Choice");
