$('#modalFormBody').html("<%= escape_javascript(render 'form', url: category_section_category_options_path(@category_option.category_section_id),remote: true) %>");
$('#modalForm').modal('show');
$('#modalFormTitle').html("Add Category Option Choice");
