<% section_items.each do |section_item| %>
<% item = section_item.item %>
<div class="col-sm-6 col-lg-4 col-md-4">
    <div class="thumbnail">
        <div class="caption">
            <h4 class="pull-right"><%= number_to_currency(item.price, precision: 2) %></h4>
            <h4>
              <%= item.display %>
              <%= link_to section_item, method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
                <i class="fa fa-fw fa-trash-o" data-toggle="tooltip" data-placement="top" title="Remove Item in this Section of the Menu"></i>
              <% end %>
              <%= link_to edit_section_item_path(section_item.id), remote: true do %>
                <i class="fa fa-fw fa-pencil-square-o" data-toggle="tooltip" data-placement="top" title="Edit Item in this Section of the Menu"></i>
              <% end %>
            </h4>
            <p><%= item.description %></p>
        </div>
    </div>
</div>
<% end %>
