$('#section_items<%= @section_item.section_id %>').html("<%= escape_javascript(render 'index', section_items: @section_items) %>");
$('#modalForm').modal('hide');
$('body').removeClass('modal-open');
$('.modal-backdrop').remove();
