<h1>Adding an Item to the Menu in the <%= @section.name %> section.</h1>

<%= form_for(@section_item, url: section_section_items_path(@section.id), method: :post) do |f| %>
  <%= render 'form', section_item: @section_item, f: f %>
<% end %>

<%= link_to 'Back', menu_path(@section.menu_id) %>
