$('#modalFormBody').html("<%= escape_javascript(render 'form', url: section_section_items_path(@section.id), remote: true) %>");
$('#modalForm').modal('show');
$('#modalFormTitle').html("Add New Item in this Section of the Menu");
