<p id="notice"><%= notice %></p>
<div class="page-header">
  <h1>
    Locations
    <!-- We use remote to use Ajax  -->
    <%= link_to new_location_path, remote: true do %>
      <i class="fa fa-fw fa-plus-square" data-toggle="tooltip" data-placement="top" title="Add a location"></i>
    <% end %>
  </h1>
</div>

<!-- We include the modal form which will be loaded through boostrap javascript
     when clicking on the add or update icon -->
<%= render 'application/modal_form' %>

<div class="row">
  <% count = 0 %>
  <% @locations.each do |location| %>
    <div class="col-sm-6 col-lg-4 col-md-4">
        <div class="panel panel-<%= definePanel(count) %>">
            <div class="panel-heading">
                <h3 class="panel-title">
                  <%= location.location %>
                  <%= link_to location, method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
                    <i class="fa fa-fw fa-trash-o pull-right" data-toggle="tooltip" data-placement="top" title="Remove this location"></i>
                  <% end %>
                  <%= link_to edit_location_path(location.id), remote: true do %>
                    <i class="fa fa-fw fa-pencil-square-o pull-right" data-toggle="tooltip" data-placement="top" title="Update this location"></i>
                  <% end %>
                </h3>
            </div>
            <div class="panel-body">
                <ul>
                  <li><%= location.address %></li>
                  <li><%= "#{location.city}, #{location.state}" %></li>
                  <li><%= location.zipcode %></li>
                  <li><%= ApplicationHelper::COUNTRY_CODES[location.country] %></li>
                  <li><%= location.email %></li>
                  <li>Tax Rate: <%= location.tax %> %</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.col-sm-4 -->
    <% count += 1 %>
  <% end %>
</div>
