<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Location</th>
      <th colspan="3">Address</th>
      <th>Email</th>
      <th>Tax</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @location.location %></td>
      <td colspan="3"><%= "#{@location.address}, #{@location.city},
      #{@location.state} #{@location.zipcode} #{@location.country}" %></td>
      <td><%= @location.email %></td>
      <td><%= @location.tax %></td>
    </tr>
  </tbody>
</table>
<br><br>

<h2>
  Menus
  <%= link_to new_location_menu_path(@location) do %>
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <% end %>
</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Menu</th>
      <th colspan="2">Status</th>
    </tr>
  </thead>

  <tbody>
    <% @location.menus.each do |menu| %>
      <tr>
        <td>
          <%= link_to menu do %>
            <%= menu.label %></td>
          <% end %>
        <td>
          <%= menu.visible ? "Published" : "Draft" %>
        </td>
        <td>            
          <%= link_to menu, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>
        <td>
      </tr>
    <% end %>
  </tbody>
</table>
