<footer class="footer">
  <small>
    © 2015 Mona's Burgers and Shakes | powered by Carlos Castro
  </small>
  <nav>
    <ul>
      <li><a href="http://www.independent.ie/">Facebook</a></li>
      <li><a href="http://www.independent.ie/">Instagram</a></li>
      <li><a href="http://www.independent.ie/">Email</a></li>
    </ul>
  </nav>
</footer>
