<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <a href="#" ><span id="logo" itemprop="name"><font size="5">MONA'S BURGERS</font></span></a>
    <%#= link_to "Microposter", "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right menu">
        <% last_menu = session[:menu_id] ? menu_path(session[:menu_id]) : '#' %>
        <li><%= link_to "Last Menu", last_menu %></li>
        <li><%= link_to "Locations", locations_path %></li>
        <li><%= link_to "Items", items_path %></li>
        <%# if logged_in? %>
          <li><%= link_to "Users", "#" %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", "#" %></li>
              <li><%= link_to "Settings", "#" %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", "/logout", method: "delete" %>
              </li>
            </ul>
          </li>
        <%# else %>
          <!-- <li><%#= link_to "Log in", login_path %></li> -->
        <%# end %>
      </ul>
    </nav>
  </div>
</header>
